<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><img src="/OSU_logo.png">  Rate My OSU Courses</h1>
            <% if(currentUser && currentUser.admin){ %>
            <p>
                <a class='btn btn-primary btn-lg' href = "/courses/new">Add a new course</a>
            </p>
            <% } %>
        </div>
    </header>
    
    <div>
		<% courses_ejs.forEach(i=>{ %>
			<div class='col-lg-12'>
                <div class='thumbnail'>
                    <a href="/courses/<%=i._id%>"><h4><%= i.code %> - <%= i.name %></h4></a>
                </div>
			</div>
		<% }) %>
    </div>
</div>



<%- include ("../partials/footer") %>