<%- include ("partials/header") %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>All courses</h1>
            <p>
                <a class='btn btn-primary btn-lg' href = "/courses/new">Add a new course</a>
            </p>
        </div>
    </header>
    
    <div class='row text-center' style='display:flex; flex-wrap:wrap'>
		<% courses_ejs.forEach(i=>{ %>
			<div class='col-md-3 col-sm-6'>
                <div class='thumbnail'>
                    <%= i.code %>
                    <div class="caption">
                        <h4><%= i.name %></h4>
                    </div>
                    <p>
                        <a href="/courses/<%=i._id%>" class="btn btn-primary">Info</a>
                    </p>
                </div>
			</div>
		<% }) %>
	</div>


</div>



<%- include ("partials/footer") %>